.st-emotion-cache-r421ms {
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
}

.st-bk {
    background-color: #ffffff;
}

.st-df {
    background-color: #f2f2f2;
}

.st-dc {
    background-color: #f2f2f2;
}

.st-ew {
    background-color: #f2f2f2;
}

.st-eu {
    background-color: #f2f2f2;
}