.st-emotion-cache-1h9usn1 {
    background-color: #ffffff;
    border-style: none;
    border-radius: 10px;
}

.st-emotion-cache-r421ms {
    border: none;
}

.st-emotion-cache-10tub03 {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(3px);
}